.brands {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  min-height: 310px;
  background: linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);
}

.brands__slider {
  width: 1140px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  min-height: 130px;

  @media (max-width: 1200px) {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .swiper-wrapper {
    align-items: center;
  }
}
