.brands {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  min-height: 310px;
  background: linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);

  h2 {
    margin: 50px 0;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 126px;
      height: 3px;
      top: 45px;
      background: #f2994a;
      border-radius: 2px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

.brands__slider {
  width: 1140px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  min-height: 130px;

  .swiper-wrapper {
    align-items: center;
  }
}
