.brands {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  min-height: 310px;
  background: linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);
}

.brands__slider {
  width: 1140px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  min-height: 130px;

  .swiper-wrapper {
    align-items: center;
  }
}
