.faq__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 30px;
}

.faq__title-wrapper {
  margin-bottom: 50px;
}

.faq__columns {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.faq__content {
  width: 900px;
}

.faq__title {
  margin-bottom: 23px;
}

.faq__list {
  margin: 0;
  margin-bottom: 30px;
}

.faq__question {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 110px;
  margin-bottom: 20px;
  padding: 14px 70px 14px 250px;
  background-color: $ColorPrimary;
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 25px;
    width: 14px;
    height: 14px;
    border: 0 solid  #f2994a;
    border-width: 0 3px 3px 0;
    transform: translateY(calc(-50% - 5px)) rotate(45deg);
    transition: 0.4s;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 110px;
    border-radius: 3px 0 0 3px;
    background: url("../img/cat-sibu-01.jpg") no-repeat;
  }

  &:hover,
  &--active {
    color: $ColorLightGrey;
    background-color: #f2994a;

    &::before {
      border-color: $ColorLightGrey;
    }
  }

  &--active {
    &::before {
      transform: translateY(calc(-50% + 5px)) rotate(45deg) scale(-1);
    }
  }

  &--no-image {
    padding: 14px 70px 14px 50px;

    &::after {
      display: none;
    }
  }

  &--02 {
    &::after {
      background: url("../img/cat-sibu-02.jpg") no-repeat;
    }
  }

  &--03 {
    &::after {
      background: url("../img/cat-sibu-03.jpg") no-repeat;
    }
  }

  &--04 {
    &::after {
      background: url("../img/cat-sibu-04.jpg") no-repeat;
    }
  }

  &--05 {
    &::after {
      background: url("../img/cat-sibu-05.jpg") no-repeat;
    }
  }

  &--06 {
    &::after {
      background: url("../img/cat-sibu-06.jpg") no-repeat;
    }
  }

  &--07 {
    &::after {
      background: url("../img/cat-sibu-07.jpg") no-repeat;
    }
  }

  &--08 {
    &::after {
      background: url("../img/cat-sibu-08.jpg") no-repeat;
    }
  }

  &--09 {
    &::after {
      background: url("../img/cat-sibu-09.jpg") no-repeat;
    }
  }

  &--10 {
    &::after {
      background: url("../img/cat-sibu-10.jpg") no-repeat;
    }
  }

  &--11 {
    &::after {
      background: url("../img/cat-sibu-11.jpg") no-repeat;
    }
  }

  &--1-01 {
    &::after {
      background: url("../img/cat-akril-org-1.jpg") no-repeat;
    }
  }

  &--1-02 {
    &::after {
      background: url("../img/item-akril-02.jpg") no-repeat;
    }
  }

  &--1-03 {
    &::after {
      background: url("../img/item-akril-03.jpg") no-repeat;
    }
  }

  &--1-04 {
    &::after {
      background: url("../img/item-akril-04.jpg") no-repeat;
    }
  }

  &--1-05 {
    &::after {
      background: url("../img/item-akril-05.jpg") no-repeat;
    }
  }

  &--2-01 {
    &::after {
      background: url("../img/item-pvc-01.jpg") no-repeat;
    }
  }

  &--2-02 {
    &::after {
      background: url("../img/item-pvc-02.jpg") no-repeat;
    }
  }

  &--4-01 {
    &::after {
      background: url("../img/item-pnc-01.jpg") no-repeat;
    }
  }

  &--4-02 {
    &::after {
      background: url("../img/item-pnc-02.jpg") no-repeat;
    }
  }

  &--4-03 {
    &::after {
      background: url("../img/item-pnc-03.jpg") no-repeat;
    }
  }

  &--4-04 {
    &::after {
      background: url("../img/item-pnc-04.jpg") no-repeat;
    }
  }

  &--5-01 {
    &::after {
      background: url("../img/item-smp-05-01.jpg") no-repeat;
    }
  }

  &--5-02 {
    &::after {
      background: url("../img/item-smp-05-02.jpg") no-repeat;
    }
  }

  &--6-01 {
    &::after {
      background: url("../img/item-smp-06-01.jpg") no-repeat;
    }
  }

  &--6-02 {
    &::after {
      background: url("../img/item-smp-06-02.jpg") no-repeat;
    }
  }

  &--7-01 {
    &::after {
      background: url("../img/item-smp-07-01.jpg") no-repeat;
    }
  }

  &--8-01 {
    &::after {
      background: url("../img/item-smp-08-01.jpg") no-repeat;
    }
  }

  &--9-01 {
    &::after {
      background: url("../img/item-smp-09-01.jpg") no-repeat;
    }
  }

  &--9-02 {
    &::after {
      background: url("../img/item-smp-09-02.jpg") no-repeat;
    }
  }

  &--10-01 {
    &::after {
      background: url("../img/item-smp-10-01.jpg") no-repeat;
    }
  }

  &--10-02 {
    &::after {
      background: url("../img/item-smp-10-02.jpg") no-repeat;
    }
  }

  &--11-01 {
    &::after {
      background: url("../img/item-smp-11-01.jpg") no-repeat;
    }
  }

  &--11-02 {
    &::after {
      background: url("../img/item-smp-11-02.jpg") no-repeat;
    }
  }

  &--11-03 {
    &::after {
      background: url("../img/item-smp-11-03.jpg") no-repeat;
    }
  }

  &--12-01 {
    &::after {
      background: url("../img/item-smp-12-01.jpg") no-repeat;
    }
  }

  &--12-02 {
    &::after {
      background: url("../img/item-smp-12-02.jpg") no-repeat;
    }
  }

  &--12-03 {
    &::after {
      background: url("../img/item-smp-12-03.jpg") no-repeat;
    }
  }

  &--12-04 {
    &::after {
      background: url("../img/item-smp-12-04.jpg") no-repeat;
    }
  }

  &--13-01 {
    &::after {
      background: url("../img/item-smp-13-01.jpg") no-repeat;
    }
  }

  &--13-02 {
    &::after {
      background: url("../img/item-smp-13-02.jpg") no-repeat;
    }
  }

  &--13-03 {
    &::after {
      background: url("../img/item-smp-13-03.jpg") no-repeat;
    }
  }

  &--14-01 {
    &::after {
      background: url("../img/item-smp-14-01.jpg") no-repeat;
    }
  }

  &--14-02 {
    &::after {
      background: url("../img/item-smp-14-02.jpg") no-repeat;
    }
  }

  &--15-01 {
    &::after {
      background: url("../img/item-smp-15-01.jpg") no-repeat;
    }
  }

  &--15-02 {
    &::after {
      background: url("../img/item-smp-15-02.jpg") no-repeat;
    }
  }

  &--15-03 {
    &::after {
      background: url("../img/item-smp-15-03.jpg") no-repeat;
    }
  }

  &--15-04 {
    &::after {
      background: url("../img/item-smp-15-04.jpg") no-repeat;
    }
  }

  &--15-05 {
    &::after {
      background: url("../img/item-smp-15-05.jpg") no-repeat;
    }
  }

  &--15-06 {
    &::after {
      background: url("../img/item-smp-15-06.jpg") no-repeat;
    }
  }

  &--15-07 {
    &::after {
      background: url("../img/item-smp-15-07.jpg") no-repeat;
    }
  }

  &--16-01 {
    &::after {
      background: url("../img/item-smp-16-01.jpg") no-repeat;
    }
  }

  &--16-02 {
    &::after {
      background: url("../img/item-smp-16-02.jpg") no-repeat;
    }
  }

  &--16-03 {
    &::after {
      background: url("../img/item-smp-16-03.jpg") no-repeat;
    }
  }

  &--16-04 {
    &::after {
      background: url("../img/item-smp-16-04.jpg") no-repeat;
    }
  }

  &--16-05 {
    &::after {
      background: url("../img/item-smp-16-05.jpg") no-repeat;
    }
  }

  &--16-06 {
    &::after {
      background: url("../img/item-smp-16-06.jpg") no-repeat;
    }
  }

  &--16-07 {
    &::after {
      background: url("../img/item-smp-16-07.jpg") no-repeat;
    }
  }

  &--16-08 {
    &::after {
      background: url("../img/item-smp-16-08.jpg") no-repeat;
    }
  }

  &--17-01 {
    &::after {
      background: url("../img/item-smp-17-01.jpg") no-repeat;
    }
  }

  &--17-02 {
    &::after {
      background: url("../img/item-smp-17-02.jpg") no-repeat;
    }
  }

  &--17-03 {
    &::after {
      background: url("../img/item-smp-17-03.jpg") no-repeat;
    }
  }

  &--17-04 {
    &::after {
      background: url("../img/item-smp-17-04.jpg") no-repeat;
    }
  }

  &--17-05 {
    &::after {
      background: url("../img/item-smp-17-05.jpg") no-repeat;
    }
  }

  &--18-01 {
    &::after {
      background: url("../img/item-smp-18-01.jpg") no-repeat;
    }
  }

  &--18-02 {
    &::after {
      background: url("../img/item-smp-18-02.jpg") no-repeat;
    }
  }

  &--19-01 {
    &::after {
      background: url("../img/item-smp-19-01.jpg") no-repeat;
    }
  }

  &--20-01 {
    &::after {
      background: url("../img/item-smp-20-01.jpg") no-repeat;
    }
  }

  &--20-02 {
    &::after {
      background: url("../img/item-smp-20-02.jpg") no-repeat;
    }
  }

  &--20-03 {
    &::after {
      background: url("../img/item-smp-20-03.jpg") no-repeat;
    }
  }

  &--20-04 {
    &::after {
      background: url("../img/item-smp-20-04.jpg") no-repeat;
    }
  }

  &--20-05 {
    &::after {
      background: url("../img/item-smp-20-05.jpg") no-repeat;
    }
  }

  &--20-06 {
    &::after {
      background: url("../img/item-smp-20-06.jpg") no-repeat;
    }
  }

  &--20-07 {
    &::after {
      background: url("../img/item-smp-20-07.jpg") no-repeat;
    }
  }

  &--20-08 {
    &::after {
      background: url("../img/item-smp-20-08.jpg") no-repeat;
    }
  }

  &--20-09 {
    &::after {
      background: url("../img/item-smp-20-09.jpg") no-repeat;
    }
  }

  &--21-01 {
    &::after {
      background: url("../img/item-smp-21-01.jpg") no-repeat;
    }
  }

  &--21-02 {
    &::after {
      background: url("../img/item-smp-21-02.jpg") no-repeat;
    }
  }

  &--21-03 {
    &::after {
      background: url("../img/item-smp-21-03.jpg") no-repeat;
    }
  }

  &--22-01 {
    &::after {
      background: url("../img/item-smp-22-01.jpg") no-repeat;
    }
  }

  &--22-02 {
    &::after {
      background: url("../img/item-smp-22-02.jpg") no-repeat;
    }
  }

  &--23-01 {
    &::after {
      background: url("../img/item-smp-23-01.jpg") no-repeat;
    }
  }

  &--24-01 {
    &::after {
      background: url("../img/item-smp-24-01.jpg") no-repeat;
    }
  }

  &--24-02 {
    &::after {
      background: url("../img/item-smp-24-02.jpg") no-repeat;
    }
  }

  &--25-01 {
    &::after {
      background: url("../img/item-smp-25-01.jpg") no-repeat;
    }
  }

  &--25-02 {
    &::after {
      background: url("../img/item-smp-25-02.jpg") no-repeat;
    }
  }

  &--26-01 {
    &::after {
      background: url("../img/item-smp-26-01.jpg") no-repeat;
    }
  }

  &--26-02 {
    &::after {
      background: url("../img/item-smp-26-02.jpg") no-repeat;
    }
  }

  &--26-03 {
    &::after {
      background: url("../img/item-smp-26-03.jpg") no-repeat;
    }
  }

  &--26-04 {
    &::after {
      background: url("../img/item-smp-26-04.jpg") no-repeat;
    }
  }

  &--27-01 {
    &::after {
      background: url("../img/item-smp-27-01.jpg") no-repeat;
    }
  }

  &--27-02 {
    &::after {
      background: url("../img/item-smp-27-02.jpg") no-repeat;
    }
  }

  &--27-03 {
    &::after {
      background: url("../img/item-smp-27-03.jpg") no-repeat;
    }
  }

  &--27-04 {
    &::after {
      background: url("../img/item-smp-27-04.jpg") no-repeat;
    }
  }

  &--27-05 {
    &::after {
      background: url("../img/item-smp-27-05.jpg") no-repeat;
    }
  }

  &--28-01 {
    &::after {
      background: url("../img/item-smp-28-01.jpg") no-repeat;
    }
  }

  &--29-01 {
    &::after {
      background: url("../img/item-smp-29-01.jpg") no-repeat;
    }
  }

  &--30-01 {
    &::after {
      background: url("../img/item-smp-30-01.jpg") no-repeat;
    }
  }

  &--31-01 {
    &::after {
      background: url("../img/item-smp-31-01.jpg") no-repeat;
    }
  }

  &--32-01 {
    &::after {
      background: url("../img/item-smp-32-01.jpg") no-repeat;
    }
  }

  &--33-01 {
    &::after {
      background: url("../img/item-smp-33-01.jpg") no-repeat;
    }
  }

  &--33-02 {
    &::after {
      background: url("../img/item-smp-33-02.jpg") no-repeat;
    }
  }

  &--33-03 {
    &::after {
      background: url("../img/item-smp-33-03.jpg") no-repeat;
    }
  }

  &--33-04 {
    &::after {
      background: url("../img/item-smp-33-04.jpg") no-repeat;
    }
  }

  &--33-05 {
    &::after {
      background: url("../img/item-smp-33-05.jpg") no-repeat;
    }
  }

  &--34-01 {
    &::after {
      background: url("../img/item-smp-34-01.jpg") no-repeat;
    }
  }

  &--35-01 {
    &::after {
      background: url("../img/item-smp-35-01.jpg") no-repeat;
    }
  }

  &--35-02 {
    &::after {
      background: url("../img/item-smp-35-02.jpg") no-repeat;
    }
  }

  &--35-03 {
    &::after {
      background: url("../img/item-smp-35-03.jpg") no-repeat;
    }
  }

  &--35-04 {
    &::after {
      background: url("../img/item-smp-35-04.jpg") no-repeat;
    }
  }

  &--36-01 {
    &::after {
      background: url("../img/item-smp-36-01.jpg") no-repeat;
    }
  }

  &--36-02 {
    &::after {
      background: url("../img/item-smp-36-02.jpg") no-repeat;
    }
  }

  &--36-03 {
    &::after {
      background: url("../img/item-smp-36-03.jpg") no-repeat;
    }
  }

  &--36-04 {
    &::after {
      background: url("../img/item-smp-36-04.jpg") no-repeat;
    }
  }

  &--36-05 {
    &::after {
      background: url("../img/item-smp-35-05.jpg") no-repeat;
    }
  }

  &--36-06 {
    &::after {
      background: url("../img/item-smp-36-06.jpg") no-repeat;
    }
  }

  &--36-07 {
    &::after {
      background: url("../img/item-smp-36-07.jpg") no-repeat;
    }
  }
}

.faq__answer {
  display: none;

  .faq__question--active + & {
    margin-bottom: 30px;
  }

  &--active {
    display: block;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: 100%;
    margin: 0;
    overflow: hidden;
    height: 100%;
    transition: all 0.4s;
  }
}

.faq__answer-wrapper {
  padding: 25px;
  box-sizing: border-box;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.faq__answer .faq__answer-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 15px;
}

.faq__answer-desc-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__answer-desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;

  &--glue {
    text-align: left;
  }
}

.faq__answer-table {
  width: 519px;
  text-align: center;
  border-spacing: 2px;

  th {
    border: solid 2px #f2994a;
    background-color: #f2994a;
    height: 50px;
  }

  td {
    border: solid 2px #f2994a;
    background-color: #f2994a;
    height: 50px;
  }

  &--glue {
    width: 100%;
  }
}

.faq__answer-table-wrapper {
  width: 519px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &--glue {
    justify-content: center;
  }
}

.faq__answer-bg-wrapper {
  padding: 15px;
  border-bottom: solid 2px #f2994a;

  &:first-child {
    border-top: solid 2px #f2994a;
  }
}
