.goods {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  min-height: 1014px;
  background: linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);
  padding-bottom: 50px;
}

.goods__cards {
  display: flex;
  width: 1140px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    justify-content: space-around;
  }
}

.goods__card {
  width: 300px;
  min-height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 26px;
  background: #ffffff;
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 50px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 200px;
    top: 0;
    left: 0;
    background: url("../img/card_image_01.jpg") center no-repeat;
  }

  &--two {
    &::before {
      background: url("../img/card_image_02.jpg") center no-repeat;
    }
  }

  &--three {
    &::before {
      background: url("../img/card_image_03.jpg") center no-repeat;
    }
  }

  &--four {
    &::before {
      background: url("../img/card_image_04.jpg") center no-repeat;
    }
  }

  &--five {
    &::before {
      background: url("../img/card_image_05.jpg") center no-repeat;
    }
  }

  &--six {
    &::before {
      background: url("../img/card_image_06.jpg") center no-repeat;
    }
  }

  h3 {
    font-weight: $fontMedium;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    max-width: 240px;
  }
}

.goods__card-wrapper {
  height: 90px;
  display: flex;
  align-items: center;
}
