.header {
  min-height: 100px;
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 608px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: url("../img/offer_back.jpg") no-repeat center;
    z-index: -1;
  }

  &--inner {
    &::before {
      height: 100px;
      background: url("../img/top_menu_back.jpg") no-repeat top center;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #d8643a;
    z-index: -2;
  }
}

.header__wrapper {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: auto;

  @media (max-width: 768px) {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;

  @media (max-width: 768px) {
    display: none;
  }
}

.header__contacts span {
  font-weight: $fontSemi-bold;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  position: relative;

  &:first-child {
    margin-bottom: 12px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      width: 15px;
      height: 15px;
      background: url("../img/icon_phone.svg") no-repeat center;
      z-index: 2;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 15px;
    height: 15px;
    background: url("../img/icon_whatsapp.svg") no-repeat center;
    z-index: 2;
  }
}

.header__menu-toggle {
  display: none;
  position: relative;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
  color: inherit;
  background: content-box $ColorPrimary;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 2px;
    background-color: $ColorPrimary;
    transition: transform 0.3s;
  }

  &::before {
    top: 4px;
  }

  &::after {
    bottom: 4px;
  }

  &:hover,
  &:focus {
    outline: none;

    &::before,
    &::after {
      transform: scaleX(0.9);
    }
  }

  &:active {
    &::before,
    &::after {
      transform: scaleX(0.8);
    }
  }

  @media (max-width: 768px) {
    display: block;
  }
}
