.news {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  min-height: 747px;
  background: url("../img/news_back.jpg") center top no-repeat;

  h2 {
    margin: 50px 0;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 126px;
      height: 3px;
      top: 45px;
      background: #F2994A;
      border-radius: 2px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

.news__wrapper {
  display: flex;
  width: 1140px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
