.partnership {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  min-height: 836px;
  background: url("../img/partnership_back.png") center top no-repeat;
}

.partnership__wrapper {
  display: flex;
  width: 1140px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}

.partnership__form {
  width: 384px;
  height: 590px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  box-shadow: 0 22px 106px rgba(0, 0, 0, 0.07), 0 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 28px;

  &--contacts {
    width: 570px;
    height: 770px;
    justify-content: center;
    background: #ffffff;
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 0 3px 3px 0;
  }

  @media (max-width: 768px) {
    min-width: 320px;
    margin: 0;
    padding-bottom: 10px;
    height: auto;
  }

  &--contacts-inner {
    @media (max-width: 768px) {
      margin-bottom: 70px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}

.partnership__form-title {
  display: block;
  font-weight: $fontMedium;
  font-size: 20px;
  line-height: 28px;
  color: #262626;
  margin: 25px auto;
  text-align: center;

  @media (max-width: 768px) {
    margin: 10px auto;
  }
}

.partnership__contact-wrapper {
  display: flex;
  flex-direction: column;

  label {
    display: flex;
    flex-direction: column;
    font-weight: $fontMedium;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
  }

  input {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 11px 12px;
    margin-bottom: 12px;
    margin-top: 5px;

    &::placeholder {
      font-size: 16px;
      line-height: 24px;
      color: #bfbfbf;
    }
  }

  textarea {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    padding: 11px 12px;
    margin-top: 5px;

    &::placeholder {
      font-size: 16px;
      line-height: 24px;
      color: #bfbfbf;
    }
  }
}

.partnership__contact-fields {
  width: 320px;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 0 20px;

  @media (max-width: 768px) {
    width: 270px;
  }
}

.partnership__contact-button {
  background: #c8242b;
  border: 2px solid #c8242b;
  width: 320px;
  margin-top: 20px;

  @media (max-width: 768px) {
    width: 270px;
    height: 40px;
    padding: 6px 22px;
    font-size: 16px;
  }
}

.partnership__desc {
  width: 410px;
}

.partnership__desc-title {
  font-weight: $fontMedium;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  @media (max-width: 768px) {
    width: 270px;
    font-size: 18px;
    line-height: 21px;
    margin: 10px auto;
  }
}

.partnership__desc-note {
  font-style: normal;
  font-weight: $fontMedium;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;

  @media (max-width: 768px) {
    width: 270px;
    margin: 0 auto;
  }
}
