.section-header {
  margin: 50px 0;
  position: relative;
  font-weight: $fontBold;
  font-size: 30px;

  &--contacts {
    text-transform: uppercase;
  }

  &::after {
    content: "";
    position: absolute;
    width: 126px;
    height: 3px;
    top: 50px;
    background: #f2994a;
    border-radius: 2px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @media (max-width: 768px) {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  &--big {
    width: 280px;
    text-align: center;

    &::after {
      top: 70px;
    }

    @media (max-width: 768px) {
      &::after {
        top: 70px;
      }
    }
  }
}
