.services {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  min-height: 658px;
  background: url("../img/services_back.jpg") center top repeat;

  @media (max-width: 768px) {
    padding-bottom: 50px;
  }
}

.services__wrapper {
  display: flex;
  width: 1140px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    justify-content: space-around;
  }

  .button {
    margin-top: 50px;
  }
}

.services__card span {
  display: block;
  font-weight: $fontMedium;
  font-size: $fontHeadersH2;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  max-width: 300px;
  min-height: 60px;
}

.services__card img {
  margin-bottom: 25px;
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
