body {
  font-family: $fontBase;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

ul {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

li {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}
